/* Plateforme Saisie de note films Guedins */

/*
Couleurs :

*/

/* Partie Body (droite) du main-header */
.skin-blue .main-header .navbar{ 
  background-color: #984882;
}

/* Pour que le position: sticky fonctionne */
.content-wrapper{
  overflow: auto;
  height: 500px;
}

/* Partie sidebar (gauche) du main-header */
.skin-blue .main-header .logo{ 
  background-color: #984882;
  color: #f3f1f1; 
  font-weight: bold; 
  text-align: center;
  font-size: 20px; 
} 

/* Petit symbole pour enlever la sidebar quand on met la souris dessus */
.skin-blue .main-header .navbar .sidebar-toggle:hover{ 
  background-color: #44444457; 
} 

/* Partie sidebar (gauche) du main-header quand on met la souris dessus */
.skin-blue .main-header .logo:hover{ 
  background-color: #984882;
}

/* SideBar (partie gauche) */
.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper{ 
  background-color: #57575691;
}

/* SideBar là où il y a des éléments */
.sidebar-menu {
  position: relative;
  padding-top: 20px;
}

/* Balise a (pas réussie à retrouver ce que c'est) */
a { 
    color: #00A19A;
} 

/* Texte ayant p comme balise */
p{
  color: #575756; 
  font-size: 20px;
  font-weight: bold;
}

/* Padding pour la sidebar */
.sidebar{
  padding-left: 5px;
}

/* Les panels */
.panel { 
  font-size: 20px; 
  font-weight: bold; 
  background-color: transparent; 
} 

/* images */
.img{
  padding-top: 50px;
  text-align: center;
}

/* Titre de section */
.titre_section{
  font-size: 30px;
  font-weight: bold;
  color: #333;
  text-align: center;
  padding-bottom: 30px;
}

/* panel */
.panel{
  display: inline-block;
  font-size: 25px;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

/* Button */
.button{
  padding-top: 30px;
  text-align: center;
}